<label>Server Name label from App Servers component</label>

<!--Input (as an event) to capture the server name-->
<input
  type="text"
  class="form-control"
  (input)="onUpdateServerName($event)"> <!--here we are passing the input to the function-->

<p>{{ serverName }}</p>
<button
        class="btn btn-primary"
        [disabled]="!allowNewServer"
        (click)="onCreateServer()">Add server</button>

<!--<p> {{ allowNewServer }}</p>  &lt;!&ndash;string interpolation&ndash;&gt;-->
<p [innerText]="allowNewServer"></p> <!--property binding-->

<p> {{ serverCreationStatus }}</p>

<!--Calling the App-server component-->
<app-server></app-server>


