<label class="alert-danger">Server Name label from App Servers component</label>

<!--Input Two way binding-->
<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName">
<p>{{ serverName }}</p>

<button
        class="btn btn-primary"
        [disabled]="!allowNewServer"
        (click)="onCreateServer()">Add server</button>

<!--<p> {{ allowNewServer }}</p>  &lt;!&ndash;string interpolation&ndash;&gt;-->
<p [innerText]="allowNewServer"></p> <!--property binding-->

<p> {{ serverCreationStatus }}</p>

<p [ngStyle]="{'background-color': getColor()}"
   [ngClass]="{online: serverStatus === 'online'}"> {{ serverStatus }}</p>

<p *ngIf="isText; else Naranjas">ABraXas CAMPEON!</p>
<ng-template #Naranjas>
  <p>There is no text here!!!!</p>
</ng-template>>

<!--Calling the App-server component-->
<app-server *ngFor="let server of servers"></app-server>


